/* Text Center */

.text-center {
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}
.heading-medium {
    font-size: 1.5rem;
}
.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-dark-blue{
    background: #062e51;
}
.bg-light-blue{
    background: #336ea2;
}

/* Buttons */
.btn {
    margin-top: 1.25rem;
    background: #336ea2;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 1px; 
}
.btn-primary{
    background: #336ea2;
}
.btn-primary:hover{
    color: #336ea2;
    background: #fff;
    font-weight: bold;
}
.btn-dark{
    background: #333;
}
.btn-dark:hover{
    background: #333;
    background-color: #fff;
    font-weight: bold;
}
.btn-block{
    width: 100%;
    text-align: center;
}

/* Forms */
.form-group{
    padding: 0.25rem 0;
}
.form-group label {
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    resize: none;
    border-radius: 8px;
}

/* Container */
.container {
    max-width: 1100px;
    margin: 0 auto;
}



